<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="GDIPlusDemo.Properties.Settings.ConnectionString"
      connectionString="Data Source=ckp;Persist Security Info=True;User ID=ckp;Password=v9736783Peng;Unicode=True"
      providerName="System.Data.OracleClient" />
  </connectionStrings>
</configuration>